/********** google font linkup **********/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&display=swap');

/********** global css start **********/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #272727;
    font-weight: 900;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 16px 32px;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/********** global css end **********/



/********** header section start **********/
header {
    box-shadow: 0 5px 20px #2d2d2d1a;
    padding: 15px 0;
}

.container {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.logo {
    width: 10%;
    float: left;
    margin-top: 0px;
}

.logo img {
    width: 100%;
}

nav {
    width: 90%;
    float: left;
    margin-top: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #0F2656;
    display: block;
    padding: 10px 20px;
}

nav ul li a:hover {
    color: #c71a3a
}

/********** header section end **********/


/********** hero section start **********/
.hero-section {
    background: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
}

.hero-section h1 {
    font-size: 60px;
    line-height: 65px;
}

.hero-section p {
    max-width: 455px;
    margin: 30px 0;
}

.hero-section img {
    max-width: 465px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/********** hero section end **********/



/********** featured section end **********/
.featured-section {
    padding: 80px 0;
    text-align: center;
}

.featured-section p {
    margin: 20px 0 35px;
}

.flower-tree {
    display: flex;
    justify-content: space-between;
}

.flower-text {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.flower-text h4 {
    text-decoration: underline;
}

.tree1 img {
    width: 265px;
    margin-top: 72px;
}

.tree2 img {
    width: 265px;
    margin-top: 130px;
}

.tree3 img {
    width: 265px;
    margin-top: 40px;
}

.featured-section h5 {
    text-decoration: underline;
}

.tree1,
.tree2,
.tree3 {
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
}

.tree1 {
    background: rgba(167, 33, 98, 0.15);
}

.tree2 {
    background: rgba(5, 151, 160, 0.15);
}

.tree3 {
    background: rgba(71, 125, 17, 0.15);
}

/********** featured section end **********/



/********** icon section start **********/
.icon-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px 0;
}

.icon-row {
    display: flex;
    justify-content: space-around;
}

.icon-col {
    text-align: center;
}

.icon-col h3 {
    color: rgba(39, 39, 39, 0.80);
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
}

/********** icon section end **********/


/********** signup section start **********/
.signup-section {
    background: rgba(229, 84, 115, 0.05);
    margin: 70px 0;
}

.signup-section .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-text {
    text-align: center;
}

.signup-text p {
    margin: 20px 0;
    max-width: 430px;
}

.pink-text {
    color: #E55473;
}

/********** signup section end **********/



/********** instagram section start **********/
.instagram-section {
    text-align: center;
}

.instagram-section p {
    margin: 15px auto 30px;
    max-width: 428px;
}

.insta-row {
    display: flex;
    justify-content: space-between;
}

.insta-row img {
    width: 285px;
}

/********** instagram section end **********/

/********** subscribe section start **********/
.subscribe-section {
    margin: 80px 0;
    background: url('../images/Rectangle9.png') lightgray 0px -203.444px / 100% 213.755% no-repeat;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-position: bottom right;
}

.subscribe-section p {

    margin: 12px 0 25px;
}

.subscribe-section input[type="text"] {
    padding: 17px 10px;
    border-radius: 8px;
    border: 0;
    width: 475px;
    margin-right: 8px;
}

.subscribe-section input[type="text"]:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
/********** subscribe section end **********/



/********** footer section start **********/
footer {
    background: #111010;
    padding: 70px 0 60px;
    text-align: center;
}
.shop {
    color: #fff;
}
footer p {
    color: #fff;
    margin: 15px auto 25px;
    max-width: 428px;
}

footer p.copyright {
    color: rgba(255, 255, 255, 0.40);
}
/********** footer section end **********/



/****************************
designed by mostafizzfuad
using only html & css
****************************/